<br />

<div class="text-center booyah-box col-10 offset-1">
  <h1>The Team</h1>
    <div class="about">
      
        <h1>Drew Hartberg</h1>

        <hr class="grey"/>
        <p class="bio col-8 offset-2">
        Drew is a Madison-based creative with a passion for storytelling through the various mediums of Photography, Videography, Motion Graphics, and soon to be Software Development. I love to cook, lose my voice while watching Wisconsin sports, and obsessively surf through dog adoption sites with no intention of actually adopting a pup in the near future.
        </p>
      </div>  
</div>